# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
.metadata

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
logs/
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Temporary files
*.tmp
*.temp
*.swp
*~

# JUnit test reports
junit/
surefire-reports/

# Spring Boot DevTools
spring-boot-devtools.properties

